{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container m-5">
        <h1>About us.. the news</h1>
        <p>We are an independent, nonprofit media organization that was founded on a mission to create a more informed public. Every day, We connect with millions through only this app to explore the news, ideas, and what it means to read the news. Through its news app and things inside the news app, We make local stories national, national stories local, and news stories news.</p>
        <button class="btn btn-primary">$ Donate today</button>
    </div>
{% endblock %}